# Maven
build/
dist/
nbproject/
target/
dependency-reduced-pom.xml

# Netbeans
nb-configuration.xml
nb-actions.xml

# Eclipse
.settings/
#.project/
.classpath
.externalToolBuilders/
maven-eclipse.xml

# IDEA
.idea/
*.iml

#MacOS
.DS_Store

#Outs
outDiffAnalysis/
out/
output/
coming_results/
